<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.nguoianphu.play" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Shmup</name>
    <description>
        Apps from Play.NguoiAnPhu.com
    </description>

    <author href="http://play.nguoianphu.com" email="nguoianphu@gmail.com">
        NguoiAnPhu.com
    </author>
	<gap:plugin name="org.apache.cordova.media" />
	<icon src="icon.png" />
	<preference name="splash-screen-duration" value="1"/>

</widget>
