<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phaser1</name>
    <description>
        A sample Phaser application.
    </description>
    <author email="nguoianphu@gmail.com" href="http://nguoianphu.com">
        Phaser application
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
